@media (max-width:1199px) {
  p {
    line-height: 28px;
  }

  .hero-content {
    h1 {
      font-size: 54px;
      line-height: 75px;
    }
  }
}

@media (max-width:992px) {
  .header-section {
    & .header-container {
      justify-content: space-between;
      height: 80px;

      .nav-btns {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 400px;
        left: -400px;
        background: #030807;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
        z-index: 3;
        transition: all .4s ease;
        overflow: hidden;
        /* background-image: url('../images/stars_BG.png'); */
        background-size: 100% auto;
        background-position: center center;

        &::before {
          content: '';
          box-shadow: inset 0px 0px 50px 40px #03B08552;
          position: absolute;
          inset: 0;
          z-index: 1;
        }

        .navbar ul {
          flex-direction: column;
          text-align: center;
          margin: 0;
          position: relative;
          z-index: 2;
        }

        .res-menu-close-btn {
          display: block;
          color: white;
          position: absolute;
          right: 20px;
          top: 20px;
          font-size: 30px;
          z-index: 2;
        }

        .stars_BG {
          position: absolute;
          overflow: hidden;
          display: block;
        }
      }

      .res-menu-btn {
        display: flex;
      }
    }
  }

  .res-menu-overlay {
    display: block;
    position: fixed;
    inset: 0;
    background: transparent;
    z-index: -1;
    transition: all .3s ease;
    backdrop-filter: blur(2px);
    opacity: 0;
  }

  body:has(input#res_menu_toggle:checked) {
    .res-menu-overlay {
      z-index: 2;
      opacity: 1;
    }

    .nav-btns {
      left: 0;
    }
  }
}

@media (max-width: 767px) {
  .hero-content {
    h1 {
      font-size: 44px;
      line-height: 55px;
    }
  }
}

@media (max-width: 575px) {
  .hero-content {
    h1 {
      font-size: 38px;
      line-height: 48px;
    }
  }

  .header-section {
    & .header-container {
      justify-content: space-between;
      height: 80px;

      .nav-btns {
        width: 100%;
        left: -100vw;
      }
    }
  }

  ._btn-light {
    padding: 14px 30px;
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .hero-content {
    h1 {
      font-size: 34px;
      line-height: 44px;
    }
  }
}