/* Google Fonts */
@import url('fonts.css');

/* Resetting Default Styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-gradient: linear-gradient(96.14deg, #A81AFF 2.56%, #FF669F 98.61%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
  font-family: Figtree;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 90px;
}

h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

/* Body & HTML */
/* Primary Reusable Classes */
._btn-light {
  display: block;
  width: max-content;
  min-width: max-content;
  padding: 18px 36px;
  background: var(--primary-gradient);
  border-radius: 12px;
  font-family: Figtree;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/* Regular CSS */
/* Background Styling */
/* Animations */
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

.stars_BG {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #030303;
  z-index: -1;

  .stars,
  .twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .stars {
    background: #000 url(../images/bg/stars.png) repeat top center;
    z-index: 0;
    -moz-animation: move-twink-back 5000s linear infinite;
    -ms-animation: move-twink-back 5000s linear infinite;
    -o-animation: move-twink-back 5000s linear infinite;
    -webkit-animation: move-twink-back 5000s linear infinite;
    animation: move-twink-back 5000s linear infinite;
  }

  .twinkling {
    background: transparent url(../images/bg/twinkling.png) repeat top center;
    z-index: 1;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
  }
}

.res-menu-overlay {
  display: none;
}

.header-section {
  background: #FFFFFF1A;
  background: #ffffff21;

  /* backdrop-filter: blur(1px); */
  .header-container {
    height: 100px;
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;

      img {
        width: 200px;
      }
    }

    .nav-btns {
      display: flex;
      width: 100%;
      justify-content: right;

      .navbar ul {
        display: flex;
        margin: 0 50px 0 0;
        padding: 0;
        gap: 30px;

        li a {
          font-family: Figtree;
          font-size: 16px;
          font-weight: 600;
          line-height: 19.2px;
          text-transform: uppercase;
          color: white;
          text-decoration: none;
          transition: all .3s ease;
          min-width: max-content;
          display: block;

          &.active,
          &:hover {
            color: #FF669F;
          }
        }
      }

      .res-menu-close-btn,
      .stars_BG {
        display: none;
      }
    }

    .res-menu-btn {
      display: none;
      height: 50px;
      border-radius: 8px;
      min-width: 50px;
      background: var(--primary-gradient);
      align-items: center;
      justify-content: center;

      input {
        display: none;
      }

      &>span {
        width: 30px;
        height: 3px;
        display: block;
        background: #ffffff;
        border-radius: 4px;
        position: relative;
        transition: all .3s ease;

        &::before,
        &::after {
          content: '';
          display: block;
          width: 100%;
          height: inherit;
          background: white;
          position: absolute;
          border-radius: inherit;
          transition: all .3s ease;
          top: -9px;
        }

        &::after {
          top: 9px;
        }
      }
    }

    .res-menu-btn:has(input:checked) {
      &>span {
        transform: rotate(180deg);
        background: transparent;

        &::before {
          transform: rotate(45deg) translate(7px, 7px);
        }

        &::after {
          transform: rotate(-45deg) translate(5px, -6px);
        }
      }
    }
  }
}

/* Hero Styles */
.hero-content {
  h1 {
    min-width: max-content;

    span {
      background:
        linear-gradient(96.14deg, #FF669F 2.56%, #17E3A6 98.61%);
      background-clip: text;
      color: transparent;
    }
  }

  p {
    line-height: 34px;
  }
}

.hero-steps-container {
  .hero-steps-headings {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .hero-steps {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    &::before {
      content: '';
      width: 70%;
      margin: 0 auto;
      top: 40px;
      position: absolute;
      height: 2px;
      background: linear-gradient(90deg, #17E3A6 0%, #FF669F 100%);
    }

    ul {
      width: 100%;
      position: relative;

      li {
        max-width: max-content;

        ._img {
          width: 80px;
          min-width: 80px;
          aspect-ratio: 1/1;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #311F26;
          border: 0.5px solid #17E3A6;
          border-radius: 50%;
        }

        h4 {
          margin: 20px 0 5px 0;
        }

        p {
          max-width: 320px;
          text-align: center;
        }

        ;
      }
    }
  }
}